
/* Fonts */

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/AwBqWF2kjhlybWamaKMPcT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/RzoNiRR1p2Mqyyz2RwqSMw.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/yVHpdQrmTj9Kax1tmFSx2j8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/* Global styles */

html,body { height:100%; }

body {
    background:url("../images/body-bg.gif") no-repeat center 0 #e9f2f9;
    color:#000;
    font-family:Oxygen, Verdana, sans-serif;
    font-weight:400;
}

a {
   color:#182945;
   text-decoration:none;
   outline:none;
   transition:opacity .5s;
}

    a:hover {
        opacity:.85;
    }


#loading-overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.5;
    background:#e9f2f9;
    z-index:99;
    display:none;
}
    
#loading-gif {
    display:none;
    position:fixed;
    top:50%;
    margin-top:-11px;
    left:50%;
    margin-left:-63px;
    z-index:100;
}

/* Header */

header {
    margin:20px auto;
    width:960px;
}
    
    header .title {
        float:left;
        font-size:34px;
        font-weight:300;
        padding:10px;
        outline:none;
    }
    
    header nav {
        float:right;
    }
    
        header nav a {
            float:right;
            margin:20px 0 0 20px;
            width:35px;
            height:35px;
            background:url("../images/sprite-nav.png") no-repeat 10px 6px #FFFFFF;
            transition:background-color .5s, background-position .5s;
            text-indent:-999em;
            outline:none;
        }
        
        header nav a:hover,
        header nav a:active {
            background-color:#61ae24;
            outline:none;
        }

        header nav a.user-manager { background-position:10px 6px; }
        header nav a.user-manager:hover { background-position:10px -24px; }
        header nav a.add-profile { background-position:-30px 6px; }
        header nav a.add-profile:hover { background-position:-30px -24px; }
        header nav a.list-profiles { background-position:-71px 6px; }
        header nav a.list-profiles:hover { background-position:-71px -27px; }


/* Main content wrapper */

main {
    margin:0 auto;
    width:960px;
    color:#333;
    position:relative;
}
    
    /* Side navigation */

    main aside {
        float:left;
        height:100%;
        width:265px;
    }
    
        main aside ul {
            list-style:none;
            margin:0 10px;
            padding:0;
        }
        
            main aside #block-menu li {
                padding:10px 0 0;
            }
            
                main aside #block-menu > li > a {
                    display:block;
                    font-size:24px;
                    font-weight:300;
                    padding:5px 0 5px 35px;
                    background:url("../images/menu-closed.gif") no-repeat 0 13px;
                    outline:none;
                    transition:opacity .5s;
                }
                
                main aside #block-menu > li > a.open {
                    background:url("../images/menu-open.gif") no-repeat 0 13px;
                }

                    main aside #block-menu > li > a:hover,
                    main aside #block-menu > li > a:active {
                        opacity:.85;
                        outline:none;
                    }

                main aside #block-menu li ul {
                    display:none;
                    margin:10px 0 0;
                }
                
                main aside #block-menu li ul.open {
                    display:block;
                }
                
                    main aside #block-menu li ul li {
                        padding:5px 0 0;
                    }
                    
                    main aside #block-menu li ul li:first-child {
                        padding:0;
                    }
                    
                        main aside #block-menu li ul li a {
                            border-left:5px solid #182945;
                            padding:5px 25px 5px 20px;
                            font-size:18px;
                            display:block;
                            cursor:move;
                            background:#fff;
                        }
                        
                        main aside #block-menu li ul li a:hover,
                        main aside #block-menu li ul li a:active {
                            background:url("../images/dragger-bg.gif") no-repeat 215px 25px #fff;
                        }
    
    /* Content styling */

    main section {
        float:right;
        width:650px;
        display:none;
    }
        
        main section .field-wrapper {
            margin:0 auto 15px;
            width:600px;
        }
        
            main section label {
                float:left;
                width:150px;
                text-align:right;
                padding-right:15px;
            }
            
            main section .field-wrapper input.textbox,
            main section .field-wrapper textarea {
                padding:3px;
                border:1px solid #D4D6D4;
                width:425px;
            }
            
            main section .profile-block-list {
                background:#FFFFFF;
                border: 1px dashed #E5E5E5;
                border-radius: 3px 3px 3px 3px;
                margin: 0 auto 15px;
                min-height: 200px;
                padding: 20px;
                width: 550px;
            }
            
            main section .profile-block-list.drag-here {
                border-color:#0C6BA1;
                background:url("../images/drag-here-bg.png") no-repeat center center Transparent;
            }
                
                main section .profile-block-list .added-block {
                    background:#EEF5FA;
                    border-left: 3px solid #4B586E;
                    color: #000000;
                    margin-bottom: 7px;
                    padding: 5px 5px 5px 15px;
                    transition: background 0.5s ease 0s, color 0.5s ease 0s;
                }
                
                    main section .profile-block-list .added-block input {
                        float:right;
                        padding:0;
                        width:50px;
                    }
            
            main section .profile-list {
                list-style:none;
                padding:0;
            }

                main section .profile-list li {
                    background:#f4f9fc;
                    margin:0 0 20px;
                }

                    main section .profile-list li form {
                        padding:25px 0;
                        display:none;
                    }

                        main section .profile-list li form .delete-profile {
                            margin:0 0 0 25px;
                        }

                    main section .profile-list li h3 {
                        font-weight:normal;
                        margin:0;
                    }
                
                        main section .profile-list li h3 a {
                            display:block;
                            color:#fff;
                            font-weight:300;
                            background:#61ae24;
                            padding:5px 15px;
                        }
                
                        main section .profile-list li h3 a:before {
                            content:"[+]";
                            font-family:Monospace;
                            font-size:12px;
                            padding-right:5px;
                            margin-top:4px;
                            float:left;
                        }
                
                        main section .profile-list li h3 a.expanded:before {
                           content:"[-]";                
                        }
                    
                    main section .profile-list li form {
                    }
                
            main section .button-save-profile {
                background: none repeat scroll 0 0 #46A5E5;
                border: medium none;
                color: #FFFFFF;
                float: right;
                padding: 5px 10px;
                margin:0 25px 0 0;
                transition:opacity .5s;
            }

                main section .button-save-profile:hover {
                    opacity:.85;
                }

main section.active {
    display:block;
}

    main section h2 {
        margin:0 0 10px;
    }

footer {
    margin:0 auto 25px;
    width:960px;
    background:#f4f9fc;
    color:#182945;
}

    footer p {
        padding:10px 15px;
        font-size:14px;
        margin:0;
    }

        footer p a {
            color:#000;
        }