
/* Fonts */

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/AwBqWF2kjhlybWamaKMPcT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/RzoNiRR1p2Mqyyz2RwqSMw.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/yVHpdQrmTj9Kax1tmFSx2j8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/* Global styles */

html,body { height:100%; }

body {
    background:url("../images/body-bg.gif") no-repeat center 0 #e9f2f9;
    color:#000;
    font-family:Oxygen, Verdana, sans-serif;
    font-weight:400;
}

a {
   color:#182945;
   text-decoration:none;
   outline:none;
   transition:opacity .5s;
}

    a:hover {
        opacity:.85;
    }


#loading-overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.5;
    background:#e9f2f9;
    z-index:99;
    display:none;
}
    
#loading-gif {
    display:none;
    position:fixed;
    top:50%;
    margin-top:-11px;
    left:50%;
    margin-left:-63px;
    z-index:100;
}

/* Header */

header {
    margin:0 auto;
    width:960px;
}
    
    header .title {
        float:left;
        font-size:34px;
        font-weight:300;
        padding:10px;
    }
    
    header nav {
        float:right;
    }
    
        header nav a {
            float:right;
            margin-left:20px;
            width:35px;
            height:35px;
            background:url("../images/sprite-nav.png") no-repeat 10px 6px #FFFFFF;
            transition:background-color .5s;
            text-indent:-999em;
        }
        
        header nav a:hover,
        header nav a:active {
            background:#61ae24;
            outline:none;
        }

        header nav .user-manager { background-position:10px 6px; }
        header nav .user-manager:hover { background-position:10px -24px; }
        header nav .add-profile { background-position:-30px 6px; }
        header nav .add-profile:hover { background-position:-30px -24px; }
        header nav .list-profiles { background-position:-71px 6px; }
        header nav .list-profiles:hover { background-position:-71px -27px; }


/* Main content wrapper */

main {
    margin:0 auto;
    width:960px;
    color:#333;
    position:relative;
}
    
    /* Side navigation */

    main aside {
        float:left;
        height:100%;
        width:265px;
        border-right:1px solid 
    }
    
        main aside ul {
            list-style:none;
            margin:0 10px;
            padding:0;
        }
        
            main aside #block-menu li {
                padding:10px 0 0;
            }
            
                main aside #block-menu > li > a {
                    display:block;
                    font-size:24px;
                    font-weight:300;
                    padding:20px 0 20px 40px;
                    background:url("../images/menu-closed.gif") no-repeat 0 25px;
                }
                
                main aside #block-menu > li > a.open {
                    background:url("../images/menu-open.gif") no-repeat 0 4px;
                }
            
                main aside #block-menu li ul {
                    display:none;
                    margin:10px 0 0;
                }
                
                main aside #block-menu li ul.open {
                    display:block;
                }
                
                    main aside #block-menu li ul li {
                        padding:5px 0 0;
                    }
                    
                    main aside #block-menu li ul li:first-child {
                        padding:0;
                    }
                    
                        main aside #block-menu li ul li a {
                            border-left:3px solid #182945;
                            padding:24px 15px;
                            font-size:18px;
                            display:block;
                            cursor:move;
                        }
                        
                        main aside #block-menu li ul li a:hover,
                        main aside #block-menu li ul li a:active {
                            background:url("../images/dragger-bg.gif") no-repeat 230px 25px #fff;
                        }
    
    /* Content styling */

    main section {
        float:right;
        width:650px;
        display:none;
    }
        
        main section .field-wrapper {
            margin-bottom:15px;
        }
        
            main section label {
                float:left;
                width:140px;
                text-align:right;
                padding-right:15px;
            }
            
            main section .field-wrapper input.textbox,
            main section .field-wrapper textarea {
                padding:3px;
                border:1px solid #D4D6D4;
                width:350px;
            }
            
            main section .profile-block-list {
                min-height:200px;
                width:505px;
                border:1px dashed #D4D6D4;
                border-radius:7px;                
                padding:7px;
                margin-bottom:15px;
            }
            
            main section .profile-block-list.drag-here {
                border-color:#0C6BA1;
                background:url("../images/drag-here-bg.png") no-repeat center center Transparent;
            }
                
                main section .profile-block-list .added-block {
                    padding:5px;
                    border-radius:3px;
                    margin-bottom:7px;
                    background:#0C6BA1;
                    color:#D4D6D4;
                    transition:background .5s, color .5s;
                }
                
                    main section .profile-block-list .added-block input {
                        float:right;
                        padding:0;
                        width:50px;
                    }
            
            main section .profile-list {
                list-style:none;
                padding:0;
            }
                
                main section .profile-list h3 {
                    font-weight:normal;
                    margin-top:0;
                }
                
                    main section .profile-list h3 a {
                        display:block;
                        color:#fff;
                        background:#61ae24;
                        border-radius:4px;
                        padding:4px 7px;
                    }
                
                    main section .profile-list h3 a:before {
                        content:"[+]";
                        font-family:Monospace;
                        font-size:12px;
                        padding-right:5px;
                        margin-top:4px;
                        float:left;
                    }
                
                    main section .profile-list h3 a.expanded:before {
                       content:"[-]";                
                    }
                
                main section .profile-list form {
                    display:none;
                }
                
            main section .button-save-profile {
                float:right;
            }

main section.active {
    display:block;
}

    main section h2 {
        margin:0 0 10px;
    }

footer {
    margin:0 auto;
    width:960px;
    background:#00182E;
    color:#D4D6D4;
}

    footer p {
        padding:10px 15px;
        font-size:14px;
        margin:0;
    }