
html,body { height:100%; }

body {
    background:#FFFDEB;
    color:#00182E;
}

a {
   color:#5E7D4D;
   text-decoration:none;
   outline:none;
}


#loading-overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.5;
    background:#FFFDEB;
    z-index:99;
    display:none;
}
    
#loading-gif {
    display:none;
    position:fixed;
    top:50%;
    margin-top:-11px;
    left:50%;
    margin-left:-63px;
    z-index:100;
}

header {
    margin:0 auto;
    width:960px;
    background:#00182E;
}
    
    header h1 {
        float:left;
        color:#D4D6D4;
        font-size:34px;
        margin:0;
        padding:10px;
        font-weight:normal;
    }
    
    header nav {
        float:right;
    }
    
        header nav a,
        header nav a:active {
            display:inline-block;
            padding:10px;
            background:#00182E;
            transition:background .5s;
            outline:none;
        }
        
        header nav a:hover {
            background:#000F1C;
        }

main {
    margin:0 auto;
    width:960px;
    height:auto !important;
}
    
    main #profile-list {
        list-style:none;
        padding:0;
        margin:15px auto 10px;
        width:320px;
    }
    
        main #profile-list li {
            padding:0 0 5px;
        }
        
            main #profile-list li a {
                display:block;
                border-radius:3px;
                background:#FF7500;
                color:#00182E;
                padding:4px 10px;
            }
    
    main .block {
        float:left;
        width:150px;
        height:150px;
        margin:5px;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        padding:5px;
        background:#D4D6D4;
        color:#00182E;
    }
    
        main .block .large-only {
            display:none;
        }
    
    main .large-block {
        width:310px;
        height:310px;
        margin:5px;
    }
    
        main .large-block .large-only {
            display:block;
        }
        
        main .large-block .small-only {
            display:none;
        }
   
    main .block h3 {
        text-align:center;
        font-size:43px;
        line-height:1em;
        margin:0;
        padding-top:20%;
        font-weight:normal;
    }
   
        main .block h3 a {
            color:#00182E;
            outline:none;
        }
        
        main .block h3 a span {
            font-size:11px;
            display:block;
            padding-top:4px;
        }
        
    main .block p.info-blob {
        float:left;
        margin:3px 3px 0 0;
        padding:3px 5px;
        color:#333;
        background:#FF7500;
        border-radius:3px;
    }
        
    main .large-block h3 {
        font-size:20px;
        padding:3px 0;
    }

footer {
    margin:0 auto;
    width:960px;
    background:#00182E;
    color:#D4D6D4;
}

    footer p {
        font-size:11px;
        margin:0;
        padding:10px;
    }