
/* Fonts */

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/AwBqWF2kjhlybWamaKMPcT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/RzoNiRR1p2Mqyyz2RwqSMw.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/yVHpdQrmTj9Kax1tmFSx2j8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/* Global styles */

html,body { height:100%; }

body {
    background:url("../images/body-bg.gif") no-repeat center 0 #e9f2f9;
    color:#000;
    font-family:Oxygen, Verdana, sans-serif;
    font-weight:400;
}

a {
   color:#182945;
   text-decoration:none;
   outline:none;
   transition:opacity .5s;
}

    a:hover {
        opacity:.85;
    }


#loading-overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.5;
    background:#e9f2f9;
    z-index:99;
    display:none;
}
    
#loading-gif {
    display:none;
    position:fixed;
    top:50%;
    margin-top:-11px;
    left:50%;
    margin-left:-63px;
    z-index:100;
}

/* Header */

header {
    margin:20px auto;
    width:960px;
}
    
    header .title {
        float:left;
        font-size:34px;
        font-weight:300;
        padding:10px;
        outline:none;
    }
    
    header nav {
        float:right;
    }
    
        header nav a {
            float:right;
            margin:20px 0 0 20px;
            width:35px;
            height:35px;
            background:url("../images/sprite-nav.png") no-repeat 10px 6px #FFFFFF;
            transition:background-color .5s, background-position .5s;
            text-indent:-999em;
            outline:none;
        }
        
        header nav a:hover,
        header nav a:active {
            background-color:#61ae24;
            outline:none;
        }

        header nav a.user-manager { background-position:10px 6px; }
        header nav a.user-manager:hover { background-position:10px -24px; }
        header nav a.add-profile { background-position:-30px 6px; }
        header nav a.add-profile:hover { background-position:-30px -24px; }
        header nav a.list-profiles { background-position:-71px 6px; }
        header nav a.list-profiles:hover { background-position:-71px -27px; }

main {
    margin:0 auto;
    width:960px;
    min-height:160px;
    height:auto !important;
}

.view-profile main {
    background:url("../images/loading-blocks.gif") no-repeat 65px 65px;
}
    
    main #profile-list {
        list-style:none;
        padding:0;
        margin:15px auto 10px;
        width:310px;
    }
    
        main #profile-list li {
            padding:0 0 10px;
        }
        
            main #profile-list li a {
                display:block;
                background:#61ae24;
                color:#fff;
                padding:10px 0px;
                text-align:center;
            }
    
    main .block {
        float:left;
        width:150px;
        height:150px;
        margin:5px;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        background:#f6f9fd;
        color:#00182E;
    }
    
        main .block .large-only {
            display:none;
            padding:5px;
            padding:5px;
        }

            /* global styles for blocks */

            main .block .large-only .data-group {
                padding:5px;
            }

                main .block .large-only .data-group h5 {
                    padding:0 0 5px;
                    border-bottom:1px solid 182945;
                    margin:0 0 5px;
                }

                main .block .large-only .data-group p.text-data {
                    margin:3px 0;
                    padding:0;
                    font-size:11px;
                }

            main .block .large-only p.text-data {
                margin:7px 0;
                padding:3px 30px;
                zoom:1;
                text-align:center;
            }

                main .block .large-only p.text-data:after {
                    clear:both;
                    content:".";
                    height:0;
                    visibility:hidden;
                    display:block;
                }

                main .block .large-only p.text-data:hover {
                    background:#e9f2f9;
                    cursor:default;
                }

                main .block .large-only p.text-data span {
                    display:block;
                    float:left;
                    width:50%;
                    font-weight:bold;
                }
    
    main .large-block {
        width:310px;
        height:310px;
        margin:5px;
    }
            
        main .large-block .small-only {
            display:none;
            padding:5px;
        }
   
    main .block h3 {
        text-align:center;
        font-size:43px;
        line-height:1em;
        margin:0;
        padding-top:20%;
        font-weight:normal;
    }

    main .block.large-block h3 {
        padding-top:10px;
    }
   
        main .block h3 a {
            color:#00182E;
            outline:none;
        }
        
        main .block h3 span {
            font-size:11px;
            line-height:20px;
            display:block;
            padding-top:4px;
        }
       
    main .block p.info-blob {
        background: none repeat scroll 0 0 #FF7500;
        border-radius: 3px 3px 3px 3px;
        color: #333333;
        float: left;
        margin: 5px;
        padding: 5px;
        width: 90px;
        height: 45px;
        text-align: center;
        box-sizing:border-box;
        -moz-box-sizing:border-box; /* Firefox */
        -webkit-box-sizing:border-box; /* Safari */
        line-height:1.05em;
        font-weight:bold;
    }
    
        main .block p.info-blob span {
            display: block;
            font-weight: normal;
        }
        
    main .large-block h3 {
        font-size:20px;
        padding:3px 0;
    }

footer {
    margin:5px auto 25px;
    width:960px;
    background:#f4f9fc;
    color:#182945;
}

    footer p {
        padding:10px 15px;
        font-size:14px;
        margin:0;
    }

        footer p a {
            color:#000;
        }